Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

add events to sanity (#60)
  sanity/desk-structure/configuration.js
  sanity/desk-structure/events.js
  sanity/desk-structure/index.js
  sanity/schemas/app-configuration.js
  sanity/schemas/arena.js
  sanity/schemas/event.js
  sanity/schemas/schema.js
  sanity/schemas/venue.js
  sanity/schemas/web-configuration.js
  web/src/app.tsx
Due: yarn sanity lint:fix

add partner type
  sanity/schemas/partner.js
Due: yarn sanity lint:fix

add models
  web/src/sanity/models.ts
Due: none

create reusable sub-heading component
  web/src/components/sub-heading.tsx
  web/src/pages/front-page.tsx
Due: none

add schema
  sanity/schemas/blocks/index.js
  sanity/schemas/blocks/partner-preview.js
  sanity/schemas/schema.js
Due: yarn sanity lint:fix

add block and test component
  web/src/blocks/index.tsx
  web/src/blocks/partner-preview.tsx
Due: none

edit model
  sanity/schemas/blocks/partner-preview.js
  sanity/schemas/partner.js
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

some layout attempt
  web/src/blocks/partner-preview.tsx
Due: none

remove query function
  web/src/blocks/partner-preview.tsx
Due: none

add partner type configuration
  sanity/desk-structure/configuration.js
  sanity/desk-structure/index.js
  sanity/schemas/partner-type.js
  sanity/schemas/schema.js
Due: yarn sanity lint:fix

use new partner type
  sanity/schemas/partner.js
Due: yarn sanity lint:fix

add model for updated schema
  web/src/sanity/models.ts
Due: none

fix query for new partner schema
  web/src/blocks/partner-preview.tsx
Due: none

i'm going through chaaaaanges
  web/src/blocks/partner-preview.tsx
Due: none

chore: cleanup
  sanity/schemas/blocks/partner-list.js
  web/src/blocks/partner-list.tsx
Due: yarn sanity lint:fix

lint
  web/src/blocks/partner-preview.tsx
Due: none

Partner preview block (#58)
  sanity/desk-structure/configuration.js
  sanity/desk-structure/index.js
  sanity/schemas/blocks/index.js
  sanity/schemas/blocks/partner-preview.js
  sanity/schemas/partner-type.js
  sanity/schemas/partner.js
  sanity/schemas/schema.js
  web/src/blocks/index.tsx
  web/src/blocks/partner-preview.tsx
  web/src/components/sub-heading.tsx
  web/src/pages/front-page.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

cleanup
  web/src/blocks/partner-list.tsx
  web/src/components/block.js
Due: yarn web lint:fix

styling
  web/src/blocks/partner-list.tsx
Due: none

Partner list block (#44)
  sanity/schemas/blocks/index.js
  sanity/schemas/blocks/partner-list.js
  sanity/schemas/schema.js
  web/src/blocks/index.tsx
  web/src/blocks/partner-list.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

use percent to prevent vertical scroll in hero
  web/src/components/hero.tsx
Due: none

remove header title when screnn < 700px
  web/src/components/header/index.tsx
Due: none

move header out of directory
  web/src/components/header.tsx
Due: none

Bugfix verical scroll and date overflow (#64)
  web/src/components/header.tsx
  web/src/components/hero.tsx
Due: none

make netlfiy redirect everyting to index.html
  web/.gitignore
  web/public/_redirects
Due: none

update sanity reset github action
  .github/workflows/main.yml
Due: none

add netlify config file to web
  web/.gitignore
  web/netlify.toml
  web/public/_redirects
Due: none

add routing to articles
  web/src/app.tsx
  web/src/pages/article.tsx
  web/src/sanity/models.ts
  web/webpack.config.js
Due: yarn web lint:fix

add hero to article page
  web/src/pages/article.tsx
Due: none

update depoloy-preview dataset name
  .github/workflows/main.yml
Due: none

use new sanity datasets
  netlify.toml
  sanity/sanity.json
  web/.gitignore
  web/public/_redirects
  web/src/sanity/index.ts
  web/webpack.config.js
Due: yarn web lint:fix

use dotenv files
  web/.env.example
  web/package.json
  web/src/sanity/index.ts
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

add dotenvs to sanity
  sanity/.env.development.example
  sanity/.gitignore
  sanity/package.json
Due: none

remove dotenv
  sanity/package.json
Due: none

add SANITY_STUDIO_API_DATASET to EnvironmentPlugin
  web/webpack.config.js
Due: yarn web lint:fix

improve sanity dataset setup (#71)
  netlify.toml
  sanity/.env.development.example
  sanity/.gitignore
  sanity/sanity.json
  web/.env.example
  web/.gitignore
  web/package.json
  web/public/_redirects
  web/src/sanity/index.ts
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

skip builds when no changes are made
  netlify.toml
Due: none

update ignore script
  netlify.toml
Due: none

maybe now?
  netlify.toml
Due: none

here we go again
  netlify.toml
Due: none

Path conditions:
  yarn web lint:fix: any of: web/**/*.{js,jsx}
  yarn sanity lint:fix: any of: sanity/**/*.{js,jsx}
