Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

.lintstagedrc:

{
	"web/**/*.{js,jsx}": ["yarn web lint:fix", "git add"],
	"sanity/**/*.{js,jsx}": ["yarn sanity lint:fix", "git add"]
}

wip event card done
  web/src/components/event-card.tsx
Due: none

event filtering base
  web/src/pages/event-overview.tsx
Due: none

fix mobile list centering
  web/src/pages/event-overview.tsx
Due: none

wip filters
  web/package.json
  web/src/pages/event-overview.tsx
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

make own multiselect fuckery
  web/package.json
  web/src/components/multiselect.tsx
  web/src/pages/event-overview.tsx
  yarn.lock
Due: none

filters sort of working
  web/src/components/multiselect.tsx
  web/src/pages/event-overview.tsx
Due: none

calendar styling
  web/src/pages/event-overview.tsx
Due: none

disable hover styling on disabled days
  web/src/pages/event-overview.tsx
Due: none

add new articles models and new-article.tsx
  sanity/schemas/article-new.js
  sanity/schemas/schema.js
  web/src/app.tsx
  web/src/pages/new-article.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

show this year only
  web/src/components/event-card.tsx
  web/src/pages/event-overview.tsx
Due: none

New event listing design (#261)
  web/package.json
  web/src/components/event-card.tsx
  web/src/components/link.tsx
  web/src/components/multiselect.tsx
  web/src/pages/event-overview.tsx
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

reduce front page body margin
  web/src/pages/front-page.tsx
Due: none

reduce front page body margin (#266)
  web/src/pages/front-page.tsx
Due: none

feat: tilgjengelighetsmerket
  web/src/assets/tilgjengelighetsmerket.svg
  web/src/components/footer/index.tsx
  web/src/components/footer/styles.ts
Due: none

fix: better position
  web/src/assets/tilgjengelighetsmerket.svg
  web/src/components/footer/index.tsx
  web/src/components/footer/styles.ts
Due: none

feat: tilgjengelighetsmerket (#267)
  web/src/assets/tilgjengelighetsmerket.svg
  web/src/components/footer/index.tsx
Due: none

Fix. font size in menu
  web/src/components/header.tsx
Due: none

Fix. font size in menu (#268)
  web/src/components/header.tsx
Due: none

Fix hover on mobile
  web/src/components/header.tsx
Due: none

Fix hover on mobile (#269)
  web/src/components/header.tsx
Due: none

feat: add minipride and external arenas
  sanity/schemas/simple-event.js
  web/src/pages/event-overview.tsx
Due: yarn sanity lint:fix

Update web/src/pages/event-overview.tsx
  web/src/pages/event-overview.tsx
Due: none

Fix: typescript error
  web/src/sanity/models.ts
Due: none

feat: add minipride and external arenas (#270)
  sanity/schemas/simple-event.js
  web/src/pages/event-overview.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

Fix: remove minipride as a category
  sanity/schemas/simple-event.js
  web/src/components/event-card.tsx
  web/src/pages/event-overview.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

Fix: remove minipride as a category (#271)
  sanity/schemas/simple-event.js
  web/src/components/event-card.tsx
  web/src/pages/event-overview.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

hide old events
  web/src/pages/event-overview.tsx
Due: none

hide old events (#272)
  web/src/pages/event-overview.tsx
Due: none

fix
  web/src/pages/event-overview.tsx
Due: none

fix (#273)
  web/src/pages/event-overview.tsx
Due: none

nvm about external components for now, too much work
  components/.gitignore
  components/package.json
  components/src/Theme/Theme.tsx
  components/src/Theme/theme.ts
  components/src/emotion.d.ts
  components/src/vite-env.d.ts
  components/tsconfig.json
  components/tsconfig.node.json
  components/vite.config.ts
  package.json
  web/components/Button/Button.tsx
  web/components/Button/index.ts
  web/components/Theme/Theme.tsx
  web/components/Theme/index.ts
  web/components/index.ts
  web/emotion.d.ts
  web/package.json
  web/pages/_app.tsx
  web/pages/index.tsx
  web/tsconfig.json
  yarn.lock
Due: none

add new arenas and venues
  sanity/schemas/simple-event.js
  web/src/pages/event-overview.tsx
  web/src/pages/event.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

add new arenas and venues (#274)
  sanity/schemas/simple-event.js
  web/src/pages/event-overview.tsx
  web/src/pages/event.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

add new program and accessibility types
  sanity/schemas/simple-event.js
  web/src/components/event-card.tsx
  web/src/pages/event-overview.tsx
  web/src/pages/event.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

add new program and accessibility types (#279)
  sanity/schemas/simple-event.js
  web/src/components/event-card.tsx
  web/src/pages/event-overview.tsx
  web/src/pages/event.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

add missing arenas to getArenaName functions
  web/src/components/event-card.tsx
  web/src/pages/event.tsx
Due: none

add missing arenas to getArenaName functions (#280)
  web/src/components/event-card.tsx
  web/src/pages/event.tsx
Due: none

Removed Oslo Pride post address for now until we receive the replacement. Also changed the link for "Tilgjengelighetsmerket".
  web/src/components/footer/index.tsx
Due: none

Removed Oslo Pride post address for now until we receive the replacement. Also changed the link for "Tilgjengelighetsmerket". (#281)
  web/src/components/footer/index.tsx
Due: none
