Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

add home page to the navigation
  sanity/desk-structure/previews/page-preview.js
  sanity/schemas/configuration.js
  sanity/schemas/front-page.js
  web/src/components/navigation.js
  web/src/pages/index.js
  web/src/templates/page-template.js
Due: yarn web lint:fix, yarn sanity lint:fix

fix z-index
  web/src/components/navigation.js
Due: yarn web lint:fix

get date from config
  sanity/package.json
  sanity/schemas/configuration.js
  web/src/components/layout.js
  web/src/pages/index.js
  web/src/templates/page-template.js
Due: yarn web lint:fix, yarn sanity lint:fix

add date from config to footer
  web/src/components/layout.js
Due: yarn web lint:fix

Top header and navigation (#42)
  sanity/package.json
  sanity/schemas/configuration.js
  sanity/schemas/front-page.js
  web/src/assets/close-button.svg
  web/src/assets/menu-button-purple.svg
  web/src/components/layout.js
  web/src/components/navigation.js
  web/src/pages/index.js
  web/src/templates/page-template.js
Due: yarn web lint:fix, yarn sanity lint:fix

Add schema for partners
  sanity/desk-structure/index.js
  sanity/desk-structure/partners.js
  sanity/schemas/partner.js
  sanity/schemas/schema.js
Due: yarn sanity lint:fix

Add schema for partners (#43)
  sanity/desk-structure/index.js
  sanity/desk-structure/partners.js
  sanity/schemas/partner.js
  sanity/schemas/schema.js
Due: yarn sanity lint:fix

restructure project
  .vscode/settings.json
  web/.babelrc
  web/.editorconfig
  web/.eslintrc
  web/.gitignore
  web/.prettierignore
  web/gatsby-config.js
  web/gatsby-node.js
  web/package.json
  web/src/app.tsx
  web/src/assets/close-button.svg
  web/src/assets/logo.svg
  web/src/assets/menu-button-purple.svg
  web/src/blocks/call-to-action-minimal.js
  web/src/blocks/call-to-action.js
  web/src/blocks/hero.js
  web/src/components/anchor.js
  web/src/components/block.js
  web/src/components/layout.js
  web/src/components/link.js
  web/src/components/navigation.js
  web/src/components/page.js
  web/src/hooks/page-context.js
  web/src/index.tsx
  web/src/pages/index.js
  web/src/templates/page-template.js
  web/src/utils/sanity.js
  web/tsconfig.json
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

using overmind
  sanity/desk-structure/front-page.js
  sanity/desk-structure/pages.js
  web/.eslintrc
  web/package.json
  web/src/app.tsx
  web/src/index.tsx
  web/src/overmind/actions.ts
  web/src/overmind/effects.ts
  web/src/overmind/index.ts
  web/src/overmind/models.ts
  web/src/overmind/state.ts
  web/src/overmind/utils.ts
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/tsconfig.json
  yarn.lock
Due: yarn sanity lint:fix

remove overmind
  web/src/app.tsx
  web/src/index.tsx
  web/src/overmind/actions.ts
  web/src/overmind/effects.ts
  web/src/overmind/index.ts
  web/src/overmind/models.ts
  web/src/overmind/state.ts
  web/src/overmind/utils.ts
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/sanity/index.ts
  web/src/sanity/utils.ts
Due: none

updage webpack to work with netlify config
  web/.gitignore
  web/package.json
  web/public/index.html
  web/webpack.config.js
Due: yarn web lint:fix

remove duplicate functuon
  web/src/sanity/index.ts
Due: none

cleanup packages
  web/package.json
  yarn.lock
Due: none

Fix CORS on port not supported by sanity
  web/webpack.config.js
Due: yarn web lint:fix

Failing at typescript, but trying to do context api¨
  web/src/app.tsx
  web/src/hooks/data-context.tsx
  web/src/index.tsx
Due: none

create sharable state through react context
  web/src/app.tsx
  web/src/index.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/sanity/index.ts
  web/src/sanity/models.ts
  web/src/sanity/store.tsx
  web/src/sanity/utils.ts
Due: none

Let's freshen it up in here
  web/package.json
  yarn.lock
Due: none

Add page style and footer
  web/.babelrc
  web/package.json
  web/src/app.tsx
  web/src/components/Footer/index.tsx
  web/src/components/Footer/styles.ts
  web/src/styles.ts
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

Add rainbow logo asset
  web/src/assets/logo-rainbow.svg
Due: none

handle svg urls and fix footer style with theme
  web/package.json
  web/src/assets/logo-white.svg
  web/src/components/Footer/index.tsx
  web/src/components/Footer/styles.ts
  web/src/styles.ts
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

Add header and navigation
  web/src/app.tsx
  web/src/assets/close-button.svg
  web/src/assets/menu-button.svg
  web/src/components/Footer/index.tsx
  web/src/components/Header/index.tsx
  web/src/components/Header/styles.ts
  web/src/components/Navigation/index.tsx
  web/src/components/Navigation/styles.ts
  web/src/styles.ts
Due: none

Fix width of navigation menu
  web/src/components/Navigation/styles.ts
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

Add workflow to mirror sanity dataset (#48)
  .github/workflows/main.yml
Due: none

remove console log
  web/src/blocks/index.tsx
Due: none

organize models better
  web/src/sanity/models.ts
Due: none

imporve state
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
Due: none

add block types back
  web/package.json
  web/src/blocks/call-to-action-minimal.tsx
  web/src/blocks/call-to-action.tsx
  web/src/blocks/hero.tsx
  web/src/blocks/index.tsx
  web/src/components/Link.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/sanity/index.ts
  web/src/sanity/models.ts
  yarn.lock
Due: none

upgrade packages
  sanity/package.json
  yarn.lock
Due: none

remove unused type
  web/src/app.tsx
Due: none

improve project setup
  web/.babelrc
  web/package.json
  web/tsconfig.json
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

add a bunch of stuff
  web/src/app.tsx
  web/src/blocks/hero.tsx
  web/src/components/footer.tsx
  web/src/components/header.tsx
  web/src/sanity/models.ts
Due: none

improve setup
  web/.gitignore
  web/package.json
  web/public/index.html
  web/src/index.html
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

Path conditions:
  yarn web lint:fix: any of: web/**/*.{js,jsx}
  yarn sanity lint:fix: any of: sanity/**/*.{js,jsx}
