Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

.lintstagedrc:

{
	"web/**/*.{js,jsx}": ["yarn web lint:fix", "git add"],
	"sanity/**/*.{js,jsx}": ["yarn sanity lint:fix", "git add"]
}

simplify pages
  sanity/schemas/page.js
  web/src/pages/page.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

remove unused stuff
  web/src/components/header.tsx
Due: none

remove quotes
  web/src/components/header.tsx
Due: none

unstick header (#97)
  web/src/components/header.tsx
Due: none

simplify pages (#98)
  sanity/schemas/page.js
  web/src/pages/page.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

change read more to norwegian
  sanity/sanity.json
  web/src/pages/article-overview.tsx
Due: none

more transations
  web/src/pages/article-overview.tsx
  web/src/pages/event-overview.tsx
Due: none

allow internal links in footer
  sanity/sanity.json
  sanity/schemas/web-configuration.js
  web/src/components/footer/index.tsx
  web/src/components/link.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

Touch up (#99)
  sanity/schemas/web-configuration.js
  web/src/components/footer/index.tsx
  web/src/components/link.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/event-overview.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

update prefixes
  web/src/app.tsx
  web/src/blocks/featured-articles.tsx
  web/src/components/link.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/pages/page.tsx
Due: none

fix sanity structure
  sanity/desk-structure/article-archive.js
  sanity/desk-structure/event-overview.js
  sanity/desk-structure/index.js
  sanity/package.json
  yarn.lock
Due: yarn sanity lint:fix

update prefixes (#100)
  sanity/desk-structure/article-archive.js
  sanity/desk-structure/event-overview.js
  sanity/desk-structure/index.js
  sanity/package.json
  web/src/app.tsx
  web/src/blocks/featured-articles.tsx
  web/src/components/link.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/pages/page.tsx
  yarn.lock
Due: yarn sanity lint:fix

Align partner-items in block
  web/src/blocks/partner-preview.tsx
Due: none

Add partner-overview-page
  sanity/desk-structure/index.js
  sanity/desk-structure/partner-overview.js
  sanity/schemas/partner-overview.js
  sanity/schemas/schema.js
  web/src/app.tsx
  web/src/blocks/partner-list.tsx
  web/src/blocks/partner-preview.tsx
  web/src/pages/front-page.tsx
  web/src/pages/partner-overview.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

Remove PartnerList as option for SanityBlock
  web/src/blocks/index.tsx
  web/src/sanity/models.ts
Due: none

Add call-to-action opportunity at bottom of partner-page
  sanity/schemas/partner-overview.js
  web/src/pages/partner-overview.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

Linting
  web/src/blocks/partner-list.tsx
Due: none

Add partner-page as internal-link
  sanity/schemas/types/internal-link.js
Due: yarn sanity lint:fix

Add partner-page and align partner-items on front page (#101)
  sanity/desk-structure/index.js
  sanity/desk-structure/partner-overview.js
  sanity/schemas/partner-overview.js
  sanity/schemas/schema.js
  sanity/schemas/types/internal-link.js
  web/src/app.tsx
  web/src/blocks/index.tsx
  web/src/blocks/partner-list.tsx
  web/src/blocks/partner-preview.tsx
  web/src/pages/front-page.tsx
  web/src/pages/partner-overview.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

decrease menu opening animation time
  web/src/components/header.tsx
Due: none

improve contrast on buttons
  web/src/components/link.tsx
Due: none

add language tag
  web/src/index.ejs
Due: none

add alt tag to partner images
  web/src/blocks/partner-preview.tsx
Due: none

add alt tag to advertisement
  web/src/blocks/advertisement.tsx
Due: none

add alt to featured articles
  web/src/blocks/featured-articles.tsx
Due: none

add unique key prop and add more space to event overview
  web/src/pages/event-overview.tsx
Due: none

increase contrast
  web/src/pages/article-overview.tsx
Due: none

improve loading
  web/src/app.tsx
  web/src/components/loading.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/pages/event-overview.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/pages/partner-overview.tsx
Due: none

add favicons
  web/package.json
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

Put on makeup for the big show (#102)
  web/package.json
  web/src/app.tsx
  web/src/blocks/advertisement.tsx
  web/src/blocks/featured-articles.tsx
  web/src/blocks/partner-preview.tsx
  web/src/components/header.tsx
  web/src/components/link.tsx
  web/src/components/loading.tsx
  web/src/index.ejs
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/pages/event-overview.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/pages/partner-overview.tsx
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

add partner overview link
  web/src/components/link.tsx
Due: none

fix favicon
  web/favicon.png
  web/webpack.config.js
Due: yarn web lint:fix

add partner overview link (#106)
  web/favicon.png
  web/src/components/link.tsx
  web/webpack.config.js
Due: yarn web lint:fix

improve navigation
  web/src/components/header.tsx
Due: none

add 404 page
  web/src/app.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/pages/event-overview.tsx
  web/src/pages/front-page.tsx
  web/src/pages/not-found.tsx
  web/src/pages/page.tsx
  web/src/pages/partner-overview.tsx
Due: none

add error page
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/pages/error.tsx
  web/src/pages/event-overview.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/pages/partner-overview.tsx
Due: none

General improvements (#108)
  web/src/app.tsx
  web/src/components/header.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/pages/error.tsx
  web/src/pages/event-overview.tsx
  web/src/pages/front-page.tsx
  web/src/pages/not-found.tsx
  web/src/pages/page.tsx
  web/src/pages/partner-overview.tsx
Due: none

Allow external links in site navigation menu
  sanity/schemas/web-configuration.js
  web/src/sanity/models.ts
Due: yarn sanity lint:fix
