Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

support different languages
  sanity/schemas/blocks/index.js
  sanity/schemas/front-page.js
  sanity/schemas/page.js
  sanity/schemas/schema.js
  sanity/schemas/types/localeBlocks.js
  sanity/schemas/types/localeString.js
  sanity/supported-languages.js
Due: yarn sanity lint:fix

use jsx for extension
  web/src/components/layout.jsx
  web/src/pages/404.jsx
  web/src/pages/index.jsx
Due: yarn web lint:fix

update sanity url generator to use the english title
  sanity/schemas/page.js
Due: yarn sanity lint:fix

create internal and external links
  sanity/schemas/blocks/hero.js
  sanity/schemas/front-page.js
  sanity/schemas/schema.js
  sanity/schemas/types/external-link.js
  sanity/schemas/types/internal-link.js
Due: yarn sanity lint:fix

load pages dymanically
  web/gatsby-config.js
  web/gatsby-node.js
  web/package.json
  web/src/blocks/hero.jsx
  web/src/components/anchor.jsx
  web/src/templates/page.jsx
  web/src/utils/sanity.js
  yarn.lock
Due: yarn web lint:fix

support image block
  web/src/blocks/image.jsx
  web/src/templates/page.jsx
Due: yarn web lint:fix

render front page
  web/src/pages/index.jsx
Due: yarn web lint:fix

show header
  web/package.json
  web/src/assets/logo.svg
  web/src/components/layout.jsx
  web/src/components/navigation.jsx
  yarn.lock
Due: yarn web lint:fix

add sanity build command
  sanity/package.json
Due: none

add sanity cli as dev dependency
  sanity/package.json
  yarn.lock
Due: none

add netlify build badges
  README.md
  sanity/README.md
  web/README.md
Due: none

add netlify build badges (#6)
  README.md
  sanity/README.md
  web/README.md
Due: none

upgrade node
  package.json
Due: none

remove engine from package json
  package.json
Due: none

safety first
  web/src/blocks/hero.jsx
  web/src/components/anchor.jsx
Due: yarn web lint:fix

safety first (#7)
  web/src/blocks/hero.jsx
  web/src/components/anchor.jsx
Due: yarn web lint:fix

improve readme
  README.md
Due: none

improve readme (#8)
  README.md
Due: none

make gatsby accessible to sanity
  web/gatsby-node.js
  web/package.json
  web/src/blocks/hero.js
  web/src/blocks/image.js
  web/src/components/anchor.js
  web/src/components/layout.js
  web/src/components/navigation.js
  web/src/pages/404.js
  web/src/pages/index.js
  web/src/templates/page.js
Due: yarn web lint:fix

render hero using gatsby header
  sanity/schemas/blocks/hero.js
  sanity/schemas/blocks/index.js
Due: yarn sanity lint:fix

Allow code sharing (#9)
  sanity/schemas/blocks/hero.js
  sanity/schemas/blocks/index.js
  web/gatsby-node.js
  web/package.json
  web/src/blocks/hero.js
  web/src/blocks/image.js
  web/src/components/anchor.js
  web/src/components/layout.js
  web/src/components/navigation.js
  web/src/pages/404.js
  web/src/pages/index.js
  web/src/templates/page.js
Due: yarn web lint:fix, yarn sanity lint:fix

something's wrong with husky or lint-stage, seems like the monorepo or code sharing broke them
  package.json
  sanity/schemas/front-page.js
  sanity/schemas/page.js
  sanity/schemas/schema.js
  sanity/schemas/types/locale-blocks.js
  sanity/schemas/types/locale-string.js
  yarn.lock
Due: yarn sanity lint:fix

add article
  sanity/desk-structure.js
  sanity/schemas/article.js
  sanity/schemas/schema.js
  sanity/schemas/types/localse-portable-text.js
Due: yarn sanity lint:fix

Add article support (#10)
  package.json
  sanity/desk-structure.js
  sanity/schemas/article.js
  sanity/schemas/front-page.js
  sanity/schemas/page.js
  sanity/schemas/schema.js
  sanity/schemas/types/locale-blocks.js
  sanity/schemas/types/locale-string.js
  sanity/schemas/types/localse-portable-text.js
  yarn.lock
Due: yarn sanity lint:fix

move localize logic to its own function
  sanity/schemas/types/locale-blocks.js
  sanity/schemas/types/locale-string.js
  sanity/utils/localize.js
Due: yarn sanity lint:fix

validate all the tings
  sanity/schemas/article.js
  sanity/schemas/blocks/hero.js
  sanity/schemas/page.js
  sanity/schemas/schema.js
  sanity/schemas/types/external-link.js
  sanity/schemas/types/illustration.js
  sanity/schemas/types/internal-link.js
  sanity/schemas/types/key-value-pair.js
  sanity/schemas/types/locale-article-title.js
  sanity/schemas/types/locale-blocks.js
  sanity/schemas/types/locale-page-title.js
  sanity/schemas/types/locale-portable-text.js
  sanity/schemas/types/locale-string.js
  sanity/schemas/types/localse-portable-text.js
  sanity/schemas/types/youtube.js
  sanity/utils/locale.js
Due: yarn sanity lint:fix

remove old unused block
  web/src/blocks/image.js
  web/src/templates/page.js
Due: yarn web lint:fix

validation added in sanity, don't need all the null checks any more
  web/src/blocks/hero.js
  web/src/components/anchor.js
Due: yarn web lint:fix

remove old import
  web/src/templates/page.js
Due: yarn web lint:fix

hide navigation links that doesn't exist in the requested language
  web/src/components/navigation.js
Due: yarn web lint:fix

fix article preview
  sanity/schemas/article.js
Due: yarn sanity lint:fix

Add simple sanity validations (#13)
  sanity/schemas/article.js
  sanity/schemas/blocks/hero.js
  sanity/schemas/page.js
  sanity/schemas/schema.js
  sanity/schemas/types/external-link.js
  sanity/schemas/types/illustration.js
  sanity/schemas/types/internal-link.js
  sanity/schemas/types/key-value-pair.js
  sanity/schemas/types/locale-article-title.js
  sanity/schemas/types/locale-blocks.js
  sanity/schemas/types/locale-page-title.js
  sanity/schemas/types/locale-portable-text.js
  sanity/schemas/types/locale-string.js
  sanity/schemas/types/localse-portable-text.js
  sanity/schemas/types/youtube.js
  sanity/utils/locale.js
  web/src/blocks/hero.js
  web/src/blocks/image.js
  web/src/components/anchor.js
  web/src/components/navigation.js
  web/src/templates/page.js
Due: yarn web lint:fix, yarn sanity lint:fix

add styled-components
  web/gatsby-config.js
  web/package.json
  yarn.lock
Due: yarn web lint:fix

add simple styling to hero
  web/src/blocks/hero.js
Due: yarn web lint:fix

add font and global some global defaults
  web/gatsby-config.js
  web/package.json
  web/src/components/layout.js
  yarn.lock
Due: yarn web lint:fix

improve styling
  web/src/blocks/hero.js
Due: yarn web lint:fix

add styling to navbar
  web/src/components/navigation.js
Due: yarn web lint:fix

Add styling (#16)
  web/gatsby-config.js
  web/package.json
  web/src/blocks/hero.js
  web/src/components/layout.js
  web/src/components/navigation.js
  yarn.lock
Due: yarn web lint:fix

improve desk structure
  sanity/desk-structure.js
  sanity/desk-structure/articles.js
  sanity/desk-structure/configuration.js
  sanity/desk-structure/front-page.js
  sanity/desk-structure/index.js
  sanity/desk-structure/pages.js
  sanity/desk-structure/previews/json-preview.js
  sanity/sanity.json
Due: yarn sanity lint:fix

Path conditions:
  yarn web lint:fix: any of: web/**/*.{js,jsx}
  yarn sanity lint:fix: any of: sanity/**/*.{js,jsx}
