Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

render blocks in article page (still bugs but it's a start)
  web/src/app.tsx
  web/src/pages/article.tsx
Due: none

change article types to blocks instead of arrays of blocks
  sanity/schemas/article.js
  web/src/pages/article.tsx
Due: yarn sanity lint:fix

add credits, date and intro to the articles, and create article overview page
  web/src/app.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
Due: none

add list of articles to the article overview
  web/src/pages/article-overview.tsx
Due: none

add article overview
  web/src/pages/article-overview.tsx
Due: none

add article archive page
  sanity/desk-structure/article-archive.js
  sanity/desk-structure/index.js
  sanity/schemas/article-archive.js
  sanity/schemas/schema.js
  web/src/pages/article-overview.tsx
Due: yarn sanity lint:fix

fix types
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/sanity/models.ts
Due: none

add quote block skeleton
  sanity/schemas/blocks/index.js
  sanity/schemas/blocks/quote.js
  sanity/schemas/schema.js
  web/src/blocks/index.tsx
  web/src/blocks/quote.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

some attempt at styling
  web/src/assets/triangles-1.svg
  web/src/assets/triangles-2.svg
  web/src/blocks/quote.tsx
Due: none

Quote block (#62)
  sanity/schemas/blocks/index.js
  sanity/schemas/blocks/quote.js
  sanity/schemas/schema.js
  web/src/assets/triangles-1.svg
  web/src/assets/triangles-2.svg
  web/src/blocks/index.tsx
  web/src/blocks/quote.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

Update README.md
  README.md
Due: none

clean up article file
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
Due: none

change article blocks
  sanity/desk-structure/index.js
  sanity/schemas/article.js
  web/src/blocks/index.tsx
  web/src/pages/article.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

remove console.logs and fix block issues
  web/src/blocks/index.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
Due: none

make intro and credits optional
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
Due: none

Add articles (#73)
  sanity/desk-structure/article-archive.js
  sanity/desk-structure/index.js
  sanity/schemas/article-archive.js
  sanity/schemas/article.js
  sanity/schemas/schema.js
  web/src/app.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/sanity/models.ts
  web/webpack.config.js
Due: yarn web lint:fix, yarn sanity lint:fix

simplify
  sanity/desk-structure/events.js
  sanity/desk-structure/index.js
  sanity/schemas/front-page.js
  sanity/schemas/schema.js
  sanity/schemas/simple-event.js
  web/src/pages/front-page.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

add back docuement owner in case of user submissions
  sanity/schemas/simple-event.js
Due: yarn sanity lint:fix

simplify (#76)
  sanity/desk-structure/events.js
  sanity/desk-structure/index.js
  sanity/schemas/front-page.js
  sanity/schemas/schema.js
  sanity/schemas/simple-event.js
  web/src/pages/front-page.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

#31 Style advertisement block to match design-spec
  web/src/blocks/advertisement.tsx
Due: none

Hide 'color' from sanity-studio as user-selected color will not be supported yet.
  sanity/schemas/blocks/advertisement.js
Due: yarn sanity lint:fix

Improved responsiveness
  web/src/blocks/advertisement.tsx
Due: none

#31 Style advertisement block to match design-spec (#80)
  sanity/schemas/blocks/advertisement.js
  web/src/blocks/advertisement.tsx
Due: yarn sanity lint:fix

add line orientation prop to SubHeading
  web/src/blocks/partner-preview.tsx
  web/src/components/sub-heading.tsx
  web/src/pages/front-page.tsx
Due: none

add featuredArticles to frontpage model
  web/src/sanity/models.ts
Due: none

add featured articles to frontpage
  web/src/blocks/featured-articles.tsx
  web/src/pages/front-page.tsx
Due: none

fix SubHeading prop from master changes
  web/src/blocks/advertisement.tsx
Due: none

Frontpage article preview (#83)
  web/src/blocks/advertisement.tsx
  web/src/blocks/featured-articles.tsx
  web/src/blocks/partner-preview.tsx
  web/src/components/sub-heading.tsx
  web/src/pages/front-page.tsx
  web/src/sanity/models.ts
Due: none

improve hero responsiveness
  web/src/components/header.tsx
  web/src/components/hero.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
Due: none

make hero responsive
  web/src/components/angled-image.tsx
  web/src/components/hero.tsx
  web/src/components/link.tsx
  web/src/index.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
Due: none

align header on smaller screens
  web/src/components/header.tsx
Due: none

make navigation, articles and pages responsive
  web/src/components/header.tsx
  web/src/pages/article-overview.tsx
  web/src/pages/article.tsx
  web/src/pages/page.tsx
Due: none

set selection and focus styling
  web/src/index.tsx
Due: none

make menu screen reader accessible
  web/src/components/header.tsx
Due: none

give menu correct bg color
  web/src/components/header.tsx
  web/src/index.tsx
Due: none

make hero image vertically responsive
  web/src/components/hero.tsx
Due: none

add articles link to sidebar menu
  sanity/schemas/article-archive.js
  sanity/schemas/types/internal-link.js
  web/src/components/header.tsx
Due: yarn sanity lint:fix

Path conditions:
  yarn web lint:fix: any of: web/**/*.{js,jsx}
  yarn sanity lint:fix: any of: sanity/**/*.{js,jsx}
