Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

.lintstagedrc:

{
	"web/**/*.{js,jsx}": ["yarn web lint:fix", "git add"],
	"sanity/**/*.{js,jsx}": ["yarn sanity lint:fix", "git add"]
}

hide old event days
  web/package.json
  web/src/pages/event-overview.tsx
  yarn.lock
Due: none

improve netlify link
  web/src/components/footer/index.tsx
Due: none

make events not break when description is empty
  web/src/pages/event-overview.tsx
Due: none

allow no end time on events
  sanity/schemas/simple-event.js
  web/src/pages/event-overview.tsx
Due: yarn sanity lint:fix

improve a bunch of stuff
  sanity/schemas/article-archive.js
  sanity/schemas/article.js
  sanity/schemas/blocks/collapsible.js
  sanity/schemas/event-overview.js
  sanity/schemas/front-page.js
  sanity/schemas/page.js
  sanity/schemas/partner-overview.js
  sanity/schemas/types/external-link.js
  sanity/schemas/types/illustration.js
  sanity/schemas/types/internal-link.js
  sanity/schemas/web-configuration.js
  web/src/blocks/featured-articles.tsx
  web/src/blocks/headliners.tsx
  web/src/components/link.tsx
  web/src/pages/front-page.tsx
Due: yarn sanity lint:fix

ensure we have 3 featured articles or none at all
  sanity/schemas/front-page.js
Due: yarn sanity lint:fix

center featured events
  web/src/blocks/headliners.tsx
Due: none

hide old events and improve front page layout (#122)
  sanity/schemas/article-archive.js
  sanity/schemas/article.js
  sanity/schemas/blocks/collapsible.js
  sanity/schemas/event-overview.js
  sanity/schemas/front-page.js
  sanity/schemas/page.js
  sanity/schemas/partner-overview.js
  sanity/schemas/simple-event.js
  sanity/schemas/types/external-link.js
  sanity/schemas/types/illustration.js
  sanity/schemas/types/internal-link.js
  sanity/schemas/web-configuration.js
  web/package.json
  web/src/blocks/featured-articles.tsx
  web/src/blocks/headliners.tsx
  web/src/components/footer/index.tsx
  web/src/components/link.tsx
  web/src/pages/event-overview.tsx
  web/src/pages/front-page.tsx
  yarn.lock
Due: yarn sanity lint:fix

supporter hack
  web/src/blocks/partner-list.tsx
  web/src/pages/partner-overview.tsx
Due: none

more hacks
  web/src/blocks/partner-list.tsx
Due: none

Partner page hacks (#123)
  web/src/blocks/partner-list.tsx
  web/src/pages/partner-overview.tsx
Due: none

Update webpack.config.js
  web/webpack.config.js
Due: yarn web lint:fix

Update webpack.config.js (#124)
  web/webpack.config.js
Due: yarn web lint:fix

remove height restrictions on events
  sanity/schemas/simple-event.js
  web/src/pages/event-overview.tsx
  web/src/sanity/models.ts
  web/webpack.config.js
Due: yarn web lint:fix, yarn sanity lint:fix

make 404 group better in sentry
  web/src/pages/not-found.tsx
Due: none

improve sentry error on config load fail
  web/src/app.tsx
Due: none

add sourcemaps
  web/webpack.config.js
Due: yarn web lint:fix

improve sorucemaps
  web/webpack.config.js
Due: yarn web lint:fix

add split pane block idea
  sanity/schemas/blocks/index.js
  sanity/schemas/blocks/split-pane.js
  sanity/schemas/schema.js
  web/src/blocks/index.tsx
  web/src/blocks/split-pane.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

add split pane block idea (#74)
  sanity/schemas/blocks/index.js
  sanity/schemas/blocks/split-pane.js
  sanity/schemas/schema.js
  web/src/blocks/index.tsx
  web/src/blocks/split-pane.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

build: add eslint-plugin-jsx-a11y
  web/.eslintrc
  web/package.json
  yarn.lock
Due: none

fix: add img role and aria label to emojis
  web/src/components/loading.tsx
  web/src/pages/error.tsx
  web/src/pages/not-found.tsx
Due: none

fix: add missing alt tag to partner images
  web/src/blocks/partner-list.tsx
Due: none

fix(Link): disable valid anchor rule
  web/src/components/link.tsx
Due: none

fix(Collapsible): add key handler and aria tags
  web/src/blocks/collapsible.tsx
Due: none

fix(Header): move onClick to Link instead of li element
  web/src/components/header.tsx
  web/src/components/link.tsx
Due: none

fix: header gradient color on partner page
  web/src/pages/partner-overview.tsx
Due: none

fix: home page featured articles margin
  web/src/blocks/featured-articles.tsx
Due: none

fix: article overview padding on mobile
  web/src/pages/article-overview.tsx
Due: none

fix: header gradient color on partner page (#146)
  web/src/pages/partner-overview.tsx
Due: none

fix: link padding on mobile menu
  web/src/components/header.tsx
Due: none

fix: link padding on mobile menu (#149)
  web/src/components/header.tsx
Due: none

fix: home page featured articles margin (#147)
  web/src/blocks/featured-articles.tsx
Due: none

fix: article overview padding on mobile (#148)
  web/src/pages/article-overview.tsx
Due: none

Add a11y linting (#145)
  web/.eslintrc
  web/package.json
  web/src/blocks/collapsible.tsx
  web/src/blocks/partner-list.tsx
  web/src/components/header.tsx
  web/src/components/link.tsx
  web/src/components/loading.tsx
  web/src/pages/error.tsx
  web/src/pages/not-found.tsx
  yarn.lock
Due: none

Add workflow for PRs
  .github/workflows/pull_request.yml
Due: none

fix yarn workspace commands
  .github/workflows/pull_request.yml
Due: none

add subheading in sanity frontpage schema
  sanity/schemas/front-page.js
  web/src/pages/front-page.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

increase padding between header date and menu button
  web/src/components/header.tsx
Due: none

add more space at top of header
  web/src/components/header.tsx
Due: none
