Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

fix: remove støttespillere/allierte from frontpage (#242)
  web/src/blocks/partner-preview.tsx
Due: none

fix: use SoMe icons for footer links
  sanity/schemas/web-configuration.js
  web/package.json
  web/src/components/footer/index.tsx
  web/src/components/footer/styles.ts
  web/src/sanity/models.ts
  yarn.lock
Due: yarn sanity lint:fix

fix: use SoMe icons for footer links (#244)
  sanity/schemas/web-configuration.js
  web/package.json
  web/src/components/footer/index.tsx
  web/src/components/footer/styles.ts
  web/src/sanity/models.ts
  yarn.lock
Due: yarn sanity lint:fix

test
  .gitignore
  netlify.toml
  netlify/functions/submission-created/handle-skeivt-kulturaar-submission.ts
  netlify/functions/submission-created/submission-created.ts
  package.json
  web/src/app.tsx
  web/src/pages/skeivt-kulturaar-events.tsx
  yarn.lock
Due: none

🤷‍♀️
  netlify/functions/submission-created.ts
  netlify/functions/submission-created/handle-skeivt-kulturaar-submission.ts
  web/src/pages/skeivt-kulturaar-events.tsx
Due: none

how about this
  netlify.toml
  netlify/functions/submission-created.ts
  web/netlify/functions/submission-created.ts
Due: none

nvm
  netlify/functions/submission-created.ts
Due: none

this?
  web/src/netlify-form-dummy.html
  web/src/pages/skeivt-kulturaar-events.tsx
Due: none

nvm
  web/src/index.ejs
  web/src/netlify-form-dummy.html
  web/src/pages/skeivt-kulturaar-events.tsx
Due: none

hello?
  web/src/index.ejs
Due: none

really
  web/src/index.ejs
Due: none

add resolver for actions and badges
  sanity/sanity.json
Due: none

add externalEventRequest document type
  sanity/schemas/external-event-request.js
  sanity/schemas/schema.js
Due: yarn sanity lint:fix

add custom sanity badges and actions
  sanity/actions/index.js
  sanity/actions/workflow/approveExternalEventRequestAction.js
  sanity/actions/workflow/declineExternalEventRequestAction.js
  sanity/badges/index.js
Due: yarn sanity lint:fix

type
  web/src/pages/skeivt-kulturaar-events.tsx
Due: none

remove Sentry intregration
  .netlify/functions-serve/submission-created/src/netlify/functions/submission-created/submission-created.js
  .netlify/functions-serve/submission-created/src/netlify/functions/submission-created/submission-created.js.map
  .netlify/functions-serve/submission-created/submission-created.js
  web/package.json
  web/sentry.properties
  web/src/index.tsx
  web/src/pages/error.tsx
  web/src/pages/not-found.tsx
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

oops
  .netlify/functions-serve/submission-created/src/netlify/functions/submission-created/submission-created.js
  .netlify/functions-serve/submission-created/src/netlify/functions/submission-created/submission-created.js.map
  .netlify/functions-serve/submission-created/submission-created.js
Due: none

Remove Sentry integration (#249)
  web/package.json
  web/sentry.properties
  web/src/index.tsx
  web/src/pages/error.tsx
  web/src/pages/not-found.tsx
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

🤔
  netlify/functions/typeform-webhook.ts
Due: none

test
  netlify/functions/typeform-webhook.ts
Due: none

remove netlify form
  netlify/functions/submission-created.ts
  web/src/index.ejs
Due: none

test out signature verification
  netlify/functions/typeform-webhook.ts
Due: none

update
  netlify/functions/typeform-webhook.ts
Due: none

attempt #2
  netlify/functions/typeform-webhook.ts
Due: none

😧
  netlify/functions/typeform-webhook.ts
Due: none

... sigh
  netlify/functions/typeform-webhook.ts
Due: none

wtf
  netlify/functions/typeform-webhook.ts
Due: none

how about this then
  netlify/functions/typeform-webhook.ts
Due: none

success, now remove logging of secret
  netlify/functions/typeform-webhook.ts
Due: none

revert typeform work
  netlify/functions/submission-created.ts
  netlify/functions/typeform-webhook.ts
  web/src/index.ejs
Due: none

test
  netlify/functions/submission-created.ts
  sanity/schemas/external-event-request.js
Due: yarn sanity lint:fix

filtering idea
  sanity/desk-structure/external-event-request.js
  sanity/desk-structure/index.js
Due: yarn sanity lint:fix

fixes
  netlify/functions/submission-created.ts
  sanity/desk-structure/external-event-request.js
Due: yarn sanity lint:fix

almost
  sanity/desk-structure/external-event-request.js
  sanity/package.json
  sanity/schemas/external-event-request.js
  yarn.lock
Due: yarn sanity lint:fix

testing
  netlify/functions/submission-created.ts
Due: none

wip
  web/src/assets/calendar.svg
  web/src/pages/skeivt-kulturaar-events.tsx
Due: none

fixes
  web/src/pages/skeivt-kulturaar-events.tsx
Due: none

add button component
  web/src/components/button.tsx
  web/src/pages/skeivt-kulturaar-events.tsx
Due: none

play around with grid, css composing
  web/src/assets/location.svg
  web/src/components/button.tsx
  web/src/pages/skeivt-kulturaar-events.tsx
Due: none

add date time section
  web/src/pages/skeivt-kulturaar-events.tsx
Due: none

Path conditions:
  yarn web lint:fix: any of: web/**/*.{js,jsx}
  yarn sanity lint:fix: any of: sanity/**/*.{js,jsx}
