Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

add normalize.css
  web/package.json
  web/src/app.tsx
Due: none

change to ejs template
  web/src/index.ejs
  web/webpack.config.js
Due: yarn web lint:fix

swap classy-ui for emotion
  web/.babelrc
  web/package.json
  web/src/app.tsx
  web/src/index.ejs
  web/src/index.tsx
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

fix uppercase bug
  web/src/components/link.tsx
Due: none

clean up sanity studio
  sanity/desk-structure/articles.js
  sanity/desk-structure/configuration.js
  sanity/desk-structure/front-page.js
  sanity/desk-structure/pages.js
  sanity/desk-structure/partners.js
  sanity/package.json
  sanity/schemas/article.js
  sanity/schemas/blocks/advertisement.js
  sanity/schemas/blocks/announcement.js
  sanity/schemas/blocks/call-to-action-minimal.js
  sanity/schemas/blocks/call-to-action.js
  sanity/schemas/blocks/hero.js
  sanity/schemas/blocks/index.js
  sanity/schemas/blocks/text-area.js
  sanity/schemas/configuration.js
  sanity/schemas/front-page.js
  sanity/schemas/page.js
  sanity/schemas/partner.js
  sanity/schemas/schema.js
  sanity/schemas/types/footer.js
  sanity/schemas/types/key-value-pair.js
  sanity/schemas/types/locale-article-title.js
  sanity/schemas/types/locale-blocks.js
  sanity/schemas/types/locale-page-title.js
  sanity/schemas/types/locale-portable-text.js
  sanity/schemas/types/portable-text.js
  sanity/schemas/types/youtube.js
  sanity/utils/locale.js
  yarn.lock
Due: yarn sanity lint:fix

make web client match new sanity structure
  web/package.json
  web/src/app.tsx
  web/src/blocks/advertisement.tsx
  web/src/blocks/announcement.tsx
  web/src/blocks/call-to-action-minimal.tsx
  web/src/blocks/call-to-action.tsx
  web/src/blocks/hero.tsx
  web/src/blocks/index.tsx
  web/src/components/footer.tsx
  web/src/components/header.tsx
  web/src/pages/page.tsx
  web/src/sanity/models.ts
  web/src/types/block-content-to-react.d.ts
  yarn.lock
Due: none

add navigation bar
  web/src/app.tsx
  web/src/pages/page.tsx
Due: none

add text-area block
  web/src/blocks/index.tsx
  web/src/blocks/text-area.tsx
  web/src/sanity/models.ts
Due: none

Set webpack dev server port to 8080
  web/webpack.config.js
Due: yarn web lint:fix

Add color theme with provider
  web/package.json
  web/src/index.tsx
  yarn.lock
Due: none

Add color theme with provider (#50)
  web/package.json
  web/src/index.tsx
  yarn.lock
Due: none

add svg support
  web/package.json
  web/src/types/svg.d.ts
  web/webpack.config.js
Due: yarn web lint:fix

add svg support (#51)
  web/package.json
  web/src/types/svg.d.ts
  web/webpack.config.js
Due: yarn web lint:fix

Add global style, footer style and theme typed styled helper
  web/package.json
  web/src/app.tsx
  web/src/components/Footer/index.tsx
  web/src/components/Footer/styles.ts
  web/src/components/footer.tsx
  web/src/helpers/styled.tsx
  web/src/index.tsx
  yarn.lock
Due: none

Add webpack file loader and styles for footer
  web/package.json
  web/src/assets/logo-white.svg
  web/src/components/Footer/index.tsx
  web/src/components/Footer/styles.ts
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

Change theme to helper object instead of from themeprovider
  web/package.json
  web/src/components/Footer/styles.ts
  web/src/helpers/styled.tsx
  web/src/helpers/theme.tsx
  web/src/index.tsx
  yarn.lock
Due: none

Wrap colors in color object in the theme
  web/src/components/Footer/index.tsx
  web/src/components/Footer/styles.ts
  web/src/helpers/theme.tsx
Due: none

Fix responsive style
  web/src/components/Footer/index.tsx
  web/src/components/Footer/styles.ts
Due: none

style header and menu text
  web/src/app.tsx
  web/src/components/header.tsx
  web/src/components/header/header.tsx
  web/src/components/header/logo-color.svg
  web/src/components/header/logo-white.svg
  yarn.lock
Due: none

add close button to navigation
  web/src/components/header/close.svg
  web/src/components/header/header.tsx
Due: none

add todo
  web/src/components/header/header.tsx
Due: none

Change folder name to lowercase
  web/src/app.tsx
  web/src/components/footer/index.tsx
  web/src/components/footer/styles.ts
Due: none

Styled footer (#52)
  web/package.json
  web/src/app.tsx
  web/src/assets/logo-white.svg
  web/src/components/footer.tsx
  web/src/components/footer/index.tsx
  web/src/components/footer/styles.ts
  web/src/helpers/theme.tsx
  web/src/index.tsx
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix

add header
  web/src/components/angled-image.tsx
  web/src/components/hero.tsx
  web/src/pages/front-page.tsx
  web/src/sanity/models.ts
  web/src/utils/index.ts
Due: none

fix react warning
  web/src/components/footer/styles.ts
Due: none

imporve links
  web/src/app.tsx
  web/src/blocks/advertisement.tsx
  web/src/blocks/announcement.tsx
  web/src/components/header.tsx
  web/src/components/link.tsx
  web/src/pages/front-page.tsx
  web/src/sanity/models.ts
Due: none

move theme to utils folder
  web/src/components/footer/styles.ts
  web/src/utils/theme.tsx
Due: none

create link button
  web/src/components/link.tsx
Due: none

1rem = 18px
  web/src/index.tsx
Due: none

style hero
  web/src/pages/front-page.tsx
Due: none

add hero to regular pages
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
Due: none

add hook for reacting to window size
  web/src/utils/hooks.ts
Due: none

make a temporary header
  web/src/components/header.tsx
Due: none

improve hero style
  web/src/components/hero.tsx
  web/src/pages/front-page.tsx
Due: none

imporve hero
  web/src/components/hero.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
Due: none

Page hero (#54)
  web/src/app.tsx
  web/src/blocks/advertisement.tsx
  web/src/blocks/announcement.tsx
  web/src/components/angled-image.tsx
  web/src/components/footer/styles.ts
  web/src/components/header.tsx
  web/src/components/hero.tsx
  web/src/components/link.tsx
  web/src/index.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/sanity/models.ts
  web/src/utils/hooks.ts
  web/src/utils/index.ts
  web/src/utils/theme.tsx
Due: none

add swr
  web/package.json
  yarn.lock
Due: none

simplify data fetching
  web/src/app.tsx
  web/src/components/footer/index.tsx
  web/src/components/header.tsx
  web/src/components/link.tsx
  web/src/index.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/sanity/store.tsx
Due: none

Path conditions:
  yarn web lint:fix: any of: web/**/*.{js,jsx}
  yarn sanity lint:fix: any of: sanity/**/*.{js,jsx}
