Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

add placeholer link
  web/src/components/link.tsx
Due: none

Improve data fetching (#55)
  web/package.json
  web/src/app.tsx
  web/src/components/footer/index.tsx
  web/src/components/header.tsx
  web/src/components/link.tsx
  web/src/index.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/sanity/store.tsx
  yarn.lock
Due: none

wip
  web/src/blocks/index.tsx
  web/src/blocks/partner-list.tsx
Due: none

WIP: Partner list block
  sanity/schemas/blocks/index.js
  sanity/schemas/blocks/partner-list.js
  sanity/schemas/schema.js
  web/src/blocks/partner-list.js
  web/src/components/block.js
Due: yarn web lint:fix, yarn sanity lint:fix

wip
  sanity/schemas/schema.js
  web/src/blocks/partner-list.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

working
  web/src/blocks/partner-list.tsx
  web/src/sanity/models.ts
Due: none

add in toggle function
  web/src/components/header/header.tsx
Due: none

animate position of header on close
  web/src/components/header/header.tsx
Due: none

add menu icon
  web/src/components/header/header.tsx
  web/src/components/header/menu.svg
Due: none

add collapsible list to schema
  sanity/schemas/blocks/collapsible.js
  sanity/schemas/blocks/index.js
  sanity/schemas/schema.js
Due: yarn sanity lint:fix

add models for collapsibleList
  web/src/sanity/models.ts
Due: none

add initial collapsibleList prototype
  web/src/blocks/collapsible.tsx
  web/src/blocks/index.tsx
Due: none

add collapsible functionality
  web/src/blocks/collapsible.tsx
Due: none

forgot pointer 👆
  web/src/blocks/collapsible.tsx
Due: none

add SVG icons and theme colors
  web/src/assets/minus.svg
  web/src/assets/plus.svg
  web/src/blocks/collapsible.tsx
Due: none

add option to import SVG as component
  web/src/types/svg.d.ts
Due: none

add transition
  web/src/blocks/collapsible.tsx
Due: none

fix changed import path
  web/src/blocks/collapsible.tsx
Due: none

Collapsible list block (#53)
  sanity/schemas/blocks/collapsible.js
  sanity/schemas/blocks/index.js
  sanity/schemas/schema.js
  web/src/assets/minus.svg
  web/src/assets/plus.svg
  web/src/blocks/collapsible.tsx
  web/src/blocks/index.tsx
  web/src/sanity/models.ts
  web/src/types/svg.d.ts
Due: yarn sanity lint:fix

set width and height of the header
  web/src/components/header/header.tsx
Due: none

add preview version
  sanity/desk-structure/previews/preview-wrapper.js
  web/.babelrc
  web/package.json
  web/src/components/footer/index.tsx
  web/src/components/header.tsx
  web/src/components/link.tsx
  web/src/index.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/sanity/index.ts
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix, yarn sanity lint:fix

improve error rendring
  web/src/components/footer/index.tsx
  web/src/components/header.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
Due: none

add preview version (#56)
  sanity/desk-structure/previews/preview-wrapper.js
  web/.babelrc
  web/package.json
  web/src/components/footer/index.tsx
  web/src/components/header.tsx
  web/src/components/link.tsx
  web/src/index.tsx
  web/src/pages/front-page.tsx
  web/src/pages/page.tsx
  web/src/sanity/index.ts
  web/webpack.config.js
  yarn.lock
Due: yarn web lint:fix, yarn sanity lint:fix

move config to hook
  web/src/app.tsx
  web/src/components/footer/index.tsx
  web/src/components/header.tsx
  web/src/pages/front-page.tsx
  web/src/utils/use-config.tsx
  web/src/utils/use-window-size.ts
Due: none

move config to hook (#57)
  web/src/app.tsx
  web/src/components/footer/index.tsx
  web/src/components/header.tsx
  web/src/pages/front-page.tsx
  web/src/utils/use-config.tsx
  web/src/utils/use-window-size.ts
Due: none

make header fixed to top
  web/src/components/header/header.tsx
Due: none

make header sticky on scroll
  web/src/components/header/header.tsx
Due: none

change header and menu color on scroll
  web/src/assets/close.svg
  web/src/assets/logo-color.svg
  web/src/assets/menu-white.svg
  web/src/assets/menu.svg
  web/src/components/header/header.tsx
Due: none

code cleanup
  web/src/app.tsx
  web/src/components/header/index.tsx
  web/src/components/header/logo-white.svg
Due: none

fix svg types and variable names
  web/src/components/header/index.tsx
  web/src/types/svg.d.ts
Due: none

use useEffect hook to track scrolling inside header component
  web/src/components/header/index.tsx
Due: none

Re-add styling to the header and navigation (#59)
  web/src/assets/close.svg
  web/src/assets/logo-color.svg
  web/src/assets/menu-white.svg
  web/src/assets/menu.svg
  web/src/components/header.tsx
  web/src/components/header/index.tsx
  web/src/types/svg.d.ts
  yarn.lock
Due: none

feat: partnerList
  sanity/schemas/blocks/index.js
  sanity/schemas/schema.js
  web/src/blocks/partner-list.tsx
  web/src/sanity/models.ts
Due: yarn sanity lint:fix

add events to sanity
  sanity/desk-structure/configuration.js
  sanity/desk-structure/events.js
  sanity/desk-structure/index.js
  sanity/schemas/arena.js
  sanity/schemas/event.js
  sanity/schemas/schema.js
  sanity/schemas/venue.js
Due: yarn sanity lint:fix

add field for linking to facebook etc
  sanity/schemas/event.js
Due: yarn sanity lint:fix

remove unneeded titles
  sanity/schemas/event.js
Due: yarn sanity lint:fix

update schema for articles
  sanity/schemas/article.js
Due: yarn sanity lint:fix

add app config section
  sanity/desk-structure/configuration.js
  sanity/desk-structure/index.js
  sanity/schemas/app-configuration.js
  sanity/schemas/schema.js
  sanity/schemas/web-configuration.js
  web/src/app.tsx
Due: yarn sanity lint:fix

remove app config from main content menu
  sanity/desk-structure/index.js
Due: yarn sanity lint:fix

bugfix
  sanity/desk-structure/index.js
Due: yarn sanity lint:fix

Path conditions:
  yarn web lint:fix: any of: web/**/*.{js,jsx}
  yarn sanity lint:fix: any of: sanity/**/*.{js,jsx}
