Repository oslopride/oslopride.no: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn sanity lint:fix

make previews work properly
  sanity/desk-structure/index.js
  sanity/desk-structure/pages.js
  sanity/desk-structure/previews/page-preview.js
  sanity/desk-structure/previews/preview-wrapper.js
  sanity/package.json
  sanity/schemas/blocks/hero.js
  web/gatsby-node.js
  web/src/blocks/hero.js
  web/src/components/anchor.js
  web/src/components/block.js
  web/src/components/layout.js
  web/src/components/link.js
  web/src/components/navigation.js
  web/src/components/page.js
  web/src/hooks/page-context.js
  web/src/pages/index.js
  web/src/templates/page-template.js
  web/src/templates/page.js
  yarn.lock
Due: yarn web lint:fix, yarn sanity lint:fix

add hero preview
  sanity/schemas/blocks/hero.js
Due: yarn sanity lint:fix

remove unused code
  web/src/components/link.js
Due: yarn web lint:fix

add page preview to front page
  sanity/desk-structure/front-page.js
Due: yarn sanity lint:fix

remove old 404 that doesn't work anyway
  web/src/pages/404.js
Due: yarn web lint:fix

Improve sanity (#18)
  sanity/desk-structure.js
  sanity/desk-structure/articles.js
  sanity/desk-structure/configuration.js
  sanity/desk-structure/front-page.js
  sanity/desk-structure/index.js
  sanity/desk-structure/pages.js
  sanity/desk-structure/previews/json-preview.js
  sanity/desk-structure/previews/page-preview.js
  sanity/desk-structure/previews/preview-wrapper.js
  sanity/package.json
  sanity/sanity.json
  sanity/schemas/blocks/hero.js
  web/gatsby-node.js
  web/src/blocks/hero.js
  web/src/components/anchor.js
  web/src/components/block.js
  web/src/components/layout.js
  web/src/components/link.js
  web/src/components/navigation.js
  web/src/components/page.js
  web/src/hooks/page-context.js
  web/src/pages/404.js
  web/src/pages/index.js
  web/src/templates/page-template.js
  web/src/templates/page.js
  yarn.lock
Due: yarn web lint:fix, yarn sanity lint:fix

add minimal call to action component
  sanity/schemas/blocks/call-to-action-minimal.js
  sanity/schemas/blocks/index.js
  sanity/schemas/schema.js
  web/src/blocks/call-to-action-minimal.js
  web/src/components/block.js
Due: yarn web lint:fix, yarn sanity lint:fix

style the cta minimal component
  .huskyrc
  .lintstagedrc
  web/src/blocks/call-to-action-minimal.js
Due: yarn web lint:fix

feat: cta block initial setup
  sanity/schemas/blocks/call-to-action.js
  sanity/schemas/blocks/index.js
  sanity/schemas/schema.js
  sanity/schemas/types/external-link.js
  web/src/blocks/call-to-action.js
  web/src/components/block.js
Due: yarn web lint:fix, yarn sanity lint:fix

add shadow and border radius to the cta buton
  web/src/blocks/call-to-action-minimal.js
Due: yarn web lint:fix

give the cta button a flexible width
  web/src/blocks/call-to-action-minimal.js
Due: yarn web lint:fix

align the button with the headline, not the entire header
  web/src/blocks/call-to-action-minimal.js
Due: yarn web lint:fix

undo last commit because I was wrong
  web/src/blocks/call-to-action-minimal.js
Due: yarn web lint:fix

make component responsive
  web/src/blocks/call-to-action-minimal.js
Due: yarn web lint:fix

slight code cleanup
  web/src/blocks/call-to-action-minimal.js
Due: yarn web lint:fix

make button font smaller to reflect the design better
  web/src/blocks/call-to-action-minimal.js
Due: yarn web lint:fix

set size of the header and center it on the page
  web/src/components/layout.js
Due: yarn web lint:fix

add margins to the header
  web/src/components/layout.js
Due: yarn web lint:fix

style menu button
  web/src/assets/menu-button-purple.svg
  web/src/components/layout.js
Due: yarn web lint:fix

style background and links in menu slidein
  web/src/components/navigation.js
Due: yarn web lint:fix

add sanity previews
  sanity/schemas/blocks/call-to-action-minimal.js
Due: yarn sanity lint:fix

Call To Action Minimal component (#19)
  .huskyrc
  .lintstagedrc
  sanity/schemas/blocks/call-to-action-minimal.js
  sanity/schemas/blocks/index.js
  sanity/schemas/schema.js
  web/src/blocks/call-to-action-minimal.js
  web/src/components/block.js
Due: yarn web lint:fix, yarn sanity lint:fix

add hover effects for navigation links
  web/src/components/navigation.js
Due: yarn web lint:fix

add close button to navigation
  web/src/assets/close-button.svg
  web/src/components/layout.js
  web/src/components/navigation.js
Due: yarn web lint:fix

move to camel case
  sanity/desk-structure/front-page.js
  sanity/desk-structure/index.js
  sanity/desk-structure/previews/page-preview.js
  sanity/schemas/article.js
  sanity/schemas/blocks/call-to-action-minimal.js
  sanity/schemas/blocks/hero.js
  sanity/schemas/blocks/text-area.js
  sanity/schemas/configuration.js
  sanity/schemas/front-page.js
  sanity/schemas/page.js
  sanity/schemas/types/external-link.js
  sanity/schemas/types/internal-link.js
  sanity/schemas/types/key-value-pair.js
  sanity/schemas/types/locale-article-title.js
  sanity/schemas/types/locale-blocks.js
  sanity/schemas/types/locale-page-title.js
  sanity/schemas/types/locale-portable-text.js
  sanity/schemas/types/portable-text.js
  web/src/components/anchor.js
  web/src/components/navigation.js
  web/src/pages/index.js
  web/src/templates/page-template.js
Due: yarn web lint:fix, yarn sanity lint:fix

move to camel case (#21)
  sanity/desk-structure/front-page.js
  sanity/desk-structure/index.js
  sanity/desk-structure/previews/page-preview.js
  sanity/schemas/article.js
  sanity/schemas/blocks/call-to-action-minimal.js
  sanity/schemas/blocks/hero.js
  sanity/schemas/blocks/text-area.js
  sanity/schemas/configuration.js
  sanity/schemas/front-page.js
  sanity/schemas/page.js
  sanity/schemas/types/external-link.js
  sanity/schemas/types/internal-link.js
  sanity/schemas/types/key-value-pair.js
  sanity/schemas/types/locale-article-title.js
  sanity/schemas/types/locale-blocks.js
  sanity/schemas/types/locale-page-title.js
  sanity/schemas/types/locale-portable-text.js
  sanity/schemas/types/portable-text.js
  web/src/components/anchor.js
  web/src/components/navigation.js
  web/src/pages/index.js
  web/src/templates/page-template.js
Due: yarn web lint:fix, yarn sanity lint:fix

add hover effect to link instead of list item
  web/src/components/navigation.js
Due: yarn web lint:fix

move in menu
  web/src/components/navigation.js
Due: yarn web lint:fix

improve contribution workflow in readme
  README.md
Due: none

improve contribution workflow (#39)
  README.md
Due: none

feat: cta block initial setup (#22)
  sanity/schemas/blocks/call-to-action.js
  sanity/schemas/blocks/index.js
  sanity/schemas/schema.js
  web/src/blocks/call-to-action.js
  web/src/components/block.js
Due: yarn web lint:fix, yarn sanity lint:fix

Add sanity object for the footer in configurations
  sanity/schemas/configuration.js
Due: yarn sanity lint:fix

Add reference to url that works and set graphql query
  sanity/schemas/types/footer.js
  web/src/pages/index.js
  web/src/templates/page-template.js
Due: yarn web lint:fix, yarn sanity lint:fix

Add init file for footer on web
  web/src/components/footer.js
  web/src/components/layout.js
Due: yarn web lint:fix

Add links and info with styling for the footer
  web/src/components/layout.js
Due: yarn web lint:fix

Move footer to layout and add styling to layout
  web/src/components/footer.js
  web/src/components/layout.js
Due: yarn web lint:fix

Fix footer anonymous object and added npm script for graphql deploy
  sanity/package.json
  sanity/schemas/configuration.js
  sanity/schemas/schema.js
  sanity/schemas/types/footer.js
Due: yarn sanity lint:fix

Remove height and add top and bottom margin
  web/src/components/layout.js
Due: yarn web lint:fix

slide in and out navigation based on positioning and visibility status
  web/src/components/navigation.js
Due: yarn web lint:fix

Add footer with sanity configuration (#40)
  sanity/package.json
  sanity/schemas/configuration.js
  sanity/schemas/schema.js
  sanity/schemas/types/footer.js
  web/src/components/layout.js
  web/src/pages/index.js
  web/src/templates/page-template.js
Due: yarn web lint:fix, yarn sanity lint:fix

Path conditions:
  yarn web lint:fix: any of: web/**/*.{js,jsx}
  yarn sanity lint:fix: any of: sanity/**/*.{js,jsx}
